<div class="page_info">

  <div class="table">
    <form action="/troopers" method="POST" id="trooper_add">
      <div class="form_input">

        <legend><strong>Add a new Trooper</strong></legend>

        <Label>
          <input type="text" name="id" min="1"> Trooper ID
        </Label>

        <br>
        <Label>
          <input type="text" name="garrison" min="1"> Garrison ID
        </Label>

        <br>
        <Label>
          <input type="text" name="loadout" min="1"> Loadout ID
        </Label>

        <br>

      </div>

      <div><button>Add</button></div>

    </form>
  </div>

  <br>

  <div class="table">
    <form action="" id="garrison_filter">
      <div class="form_input">

        <legend><strong>Filter by Garrison</strong></legend>


        <Label>
          <input type="text"> Garrison ID
        </Label>

        <br>




      </div>

      <div><button>Filter</button></div>

    </form>
  </div>

  <br>

  <div class="table">
    <form action="" id="trooper_filter">
      <div class="form_input">

        <legend><strong>Filter by Ship ID</strong></legend>


        <Label>
          <input type="text"> Ship ID
        </Label>

        <br>


      </div>

      <div><button>Filter</button></div>

    </form>
  </div>

  <br>

  <div class="table">
    <form action="" id="trooper_garrison_change">
      <div class="form_input">

        <legend><strong>Change Garrison assignment</strong></legend>

        <Label>
          <input type="text"> Trooper ID
        </Label>


        <br>

        <Label>
          <input type="text"> Garrison ID
        </Label>


        <br>

      </div>

      <div >
        <label>
          <input type="radio" class="radio_b" name="move">
          Remove From Garrison
        </label>

        <label>
          <input type="radio" class="radio_b" name="move">
          Move To
        </label>


      </div>

      <div><button>Submit</button></div>

    </form>
  </div>

  <br>

  <div class="table">
    <form action="" id="trooper_delete">
      <div class="form_input">

        <legend><strong>Delete Trooper (RIP)</strong></legend>


        <Label>
          <input type="text"> Trooper ID
        </Label>

        <br>


      </div>

      <div><button>Delete</button></div>

    </form>
  </div>

  <br>

</div>


<div class="db">
  <table>
    <thead>
      <tr>
	<th>Trooper ID</th>
	<th>Garrison ID</th>
	<th>Garrison Name*</th>
	<th>Loadout ID</th>
	<th>Blaster*</th>
	<th>Detonator*</th>
      </tr>
    </thead>

    <tbody>
      {{#each troopers}}
      <tr>
	<td>{{trooperID}}</td>
	<td>{{garrisonID}}</td>
	<td>{{garrisonName}}</td>
	<td>{{loadoutID}}</td>
	<td>{{blaster}}</td>
	<td>{{detonator}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  *Not an attribute of trooper (attribute from a table troopers references).
</div>
