<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/style.css">
    <title>{{title}}</title>
  </head>
  <body>

    <div class="title_bar">Empire Employees</div>

    <div class="menu">
      <ul>
        <div><a href="/">Home</a></div>
        <br>
        <div>ENTITIES</div>
        <div><a href="/troopers">Troopers</a></div>
        <div><a href="/garrisons">Garrisons</a></div>
        <div><a href="/loadouts">Loadouts</a></div>
        <div><a href="/ships">Ships</a></div>
        <div><a href="/droids">Droids</a></div>
        <div><a href="/manifests">Ship Manifests</a></div>
      </ul>
    </div>

    <div class="page_info">
      <h1>{{heading}}</h1>
      <p id="error_message">{{errorMessage}}</p>

      {{{body}}}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
      <script src="/static/{{this}}"></script>
    {{/each}}


  </body>
</html>
